/* бэк цвет #2F303A */
/* цвет заголовков #212121 */
/* акцент #2196f3*/
/* цвет текста блоков #757575 */
/* белый цвет #ffffff*/
/* доп цвет rgba(255, 255, 255, 0.6) */
/* цвет блок team/button #F5F4FA */
/* цвет блоков #E5E5E5 */

/* общие стили */
body {
  background-color: #ffffff;
  color: #757575;
  font-family: Roboto;
}
.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

/* логотип */
.logo-web {
  color: #2196f3;
}
.logo-studio {
  color: black;
}
.logo-studio1 {
  color: #ffffff;
}
/* стили header */
.header {
  width: 1800px;
  height: 80px;
  display: flex;
  flex-direction: row;
}

.site-nav a {
  color: #212121;
}
.site-nav a:hover,
.site-nav a:focus {
  color: #2196f3;
}

/* стили main */
/* стилизация секции h1 */
.h1-section {
  background-color: #2f303a;
  color: #ffffff;
  text-transform: uppercase;
}

/* скрытые объекты */
.hidden {
  display: none;
}
/* стилизация кнопок */
.pf-buttons {
  color: black;
  background-color: #f5f4fa;
}
.pf-buttons:hover,
.pf-buttons:focus {
  background-color: #2196f3;
  color: #ffff;
}
.pf-b-size-all {
  width: 73px;
  height: 38px;
  background-color: #f5f4fa;
}
.pf-b-size-web {
  width: 128px;
  height: 38px;
  background-color: #f5f4fa;
}
.pf-b-size-app {
  width: 145px;
  height: 38px;
  background-color: #f5f4fa;
}
.pf-b-size-des {
  width: 103px;
  height: 38px;
  background-color: #f5f4fa;
}
.pf-b-size-mar {
  width: 130px;
  height: 38px;
  background-color: #f5f4fa;
}
.s-button {
  width: 200;
  height: 50;
  background-color: #2196f2;
  color: #ffffff;
}
.s-button:hover,
.s-button:focus {
  background-color: #ffffff;
  color: #2196f2;
}
.main-txt {
  color: #212121;
}
.h2-style {
  color: #212121;
}
.h2-style-stud {
  text-transform: uppercase;
  color: #212121;
}
.team-section {
  background-color: #f5f4fa;
}

/* стили footer */
.footer {
  background-color: #2f303a;
}
.f-text {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
}
.f-adr {
  color: #ffffff;
  font-style: normal;
}
