html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
:root {
  --body-color: #ffffff;
  --back-color: #2f303a;
  --heading-color: #212121;
  --accent-color: #2196f3;
  --alt-accent: #188ce8;
  --block-color: #e5e5e5;
  --text-block: #757575;
  --spec-color: rgba(255, 255, 255, 0.6);
  --team-button-color: #f5f4fa;
  --logo-add-color: #000000;
  --border-color: #ececec;
}
/* бэк цвет #2F303A */
/* цвет заголовков #212121 */
/* акцент #2196f3 #188CE8*/
/* цвет текста блоков #757575 */
/* белый цвет #ffffff*/
/* доп цвет rgba(255, 255, 255, 0.6) */
/* цвет блок team/button #F5F4FA */
/* цвет блоков #E5E5E5 */

/* общие стили */
body {
  background-color: var(--body-color);
  color: var(--text-block);
  font-family: "Roboto", sans-serif;
}
.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.link {
  text-decoration: none;
}
.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}
/* стили header */
/* логотип */
.header {
  display: flex;
  align-items: center;
  border-bottom: 1px;
  border-bottom-style: solid;
  border-bottom-color: var(--border-color);
  background-color: var(--body-color);
}
.logo {
  padding-top: 24px;
  padding-bottom: 25px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  width: 145px;
}
.logo-web {
  color: var(--accent-color);
}
.logo-studio {
  color: var(--logo-add-color);
}
.logo-studio-footer {
  color: var(--body-color);
}
/* nav section */

.site-nav a {
  color: var(--heading-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav a:hover,
.site-nav a:focus {
  color: var(--accent-color);
}
.site-nav {
  display: flex;
  padding-top: 32px;
  margin-left: 93px;
  padding-bottom: 32px;
}
.site-nav .nav-item + .nav-item {
  margin-left: 50px;
}
/* info */
.info {
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  margin-left: auto;
}
.info .nav-item + .nav-item {
  margin-left: 50px;
}

.info a {
  color: var(--text-block);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.info a:hover,
.info a:focus {
  color: var(--accent-color);
}
/* стили main */
/* стилизация секции h1 */
.h1-section {
  margin-top: 0;
  background-color: var(--back-color);
  text-align: center;
}
.h1-text {
  margin-top: 0;
  margin-bottom: 30px;
  padding-top: 200px;
  color: var(--body-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  width: 696px;
}
/* details section */
.details-section-title {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  margin-top: 0;
  text-transform: uppercase;
  color: var(--heading-color);
}
.details-list p {
  margin: 0;
}
.details-list {
  display: flex;
  align-items: center;
}
.details-list .det-item + .det-item {
  margin-left: 30px;
}
.det-item {
  width: 270px;
}
.details-section {
  margin-top: 0;
  padding-top: 94px;
  padding-bottom: 94px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}
/* скрытые объекты */
.hidden {
  display: none;
}
/* about section */
.about-section-title {
  color: var(--heading-color);
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}
.about-section {
  margin-top: 0;
  padding-bottom: 94px;
}
.about-list {
  display: flex;
  align-items: center;
}
.about-list .ab-item + .ab-item {
  margin-left: 30px;
}

/* team section */
.team-section {
  background-color: var(--team-button-color);
  margin-top: 0;
  padding-top: 94px;
  padding-bottom: 94px;
}
.team-section-title {
  color: var(--heading-color);
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}
.team-list {
  display: flex;
  align-items: center;
  text-align: center;
}
.team-list .team-item + .team-item {
  margin-left: 30px;
}
.team-txt {
  margin: 0;
  color: var(--heading-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
}
.team-pos {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
}

/* стили footer */
.adress {
  font-style: normal;
  font-weight: 400;
}
.adress li + li {
  margin-top: 9px;
}
.footer {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: var(--back-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.footer-logo {
  margin-bottom: 20px;
}
.footer-text {
  color: var(--spec-color);
}
.footer-adr {
  color: var(--body-color);
}
.adress a:hover,
.adress a:focus {
  color: var(--alt-accent);
}
/* стилизация кнопок */
.pf-buttons {
  color: black;
  background-color: var(--team-button-color);
  padding: 6px, 22px;
  border: 0px;
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
}
.pf-buttons:hover,
.pf-buttons:focus {
  background-color: var(--alt-accent);
  color: var(--body-color);
}
.pf-b-size-all {
  width: 73px;
  height: 38px;
}
.pf-b-size-web {
  width: 128px;
  height: 38px;
}
.pf-b-size-app {
  width: 145px;
  height: 38px;
}
.pf-b-size-des {
  width: 103px;
  height: 38px;
}
.pf-b-size-mar {
  width: 130px;
  height: 38px;
}
.button-item .pf-buttons + .pf-buttons {
  margin-left: 8px;
}
.button-item {
  padding-top: 94px;
  margin-bottom: 50px;
  text-align: center;
}
/* studio button */
.s-button {
  align-self: center;
  width: 200px;
  height: 50px;
  border: 0;
  margin-top: 0;
  margin-bottom: 200px;
  padding: 10px, 32px;
  border-radius: 4px;
  background-color: var(--accent-color);
  color: var(--body-color);
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  cursor: pointer;
}
.s-button:hover,
.s-button:focus {
  background-color: var(--alt-accent);
  color: var(--body-color);
}
/* porfolio */
.main-txt {
  color: var(--heading-color);
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
}
.main-desc {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}
.main-pf {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0;
  padding-bottom: 94px;
  align-items: center;
}
.pf-item {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
  border-bottom: 1px;
  border-bottom-color: var(--border-color);
  border-bottom-style: solid;
}
.pf-item:nth-child(3n) {
  margin-right: 0;
}
.pf-item:nth-child(n + 7) {
  margin-bottom: 0;
}
