body {
  background-color: $bodyColor;
  color: $textBlock;
  font-family: $mainFont;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
img {
  display: block;
}
.container {
  @media screen and (min-width: 480px) {
    width: auto;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
  }
  @media screen and (min-width: 768px) {
    width: auto;
  }
  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}
.hidden {
  display: none;
}
