$bodyColor: #ffffff;
$backColor: #2f303a;
$headingColor: #212121;
$accentColor: #2196f3;
$altAccent: #188ce8;
$blockColor: #e5e5e5;
$textBlock: #757575;
$specColor: rgba(255, 255, 255, 0.6);
$teamBtncolor: #f5f4fa;
$logoAddcolor: #000000;
$borderColor: #ececec;
$clientsColor: #afb1b8;
$heroAddcolor: #c4c4c4;
$socialLinkcolor: #afb1b8;
$socialFoootercolor: #44454e;
$cubic: cubic-bezier(0.4, 0, 0.2, 1);
$time: 250ms;
$mainFont: "Roboto", sans-serif;
$addFont: "Raleway", sans-serif;
