$bodyColor: #ffffff;
$backColor: #2f303a;
$headingColor: #212121;
$accentColor: #2196f3;
$altAccent: #188ce8;
$blockColor: #e5e5e5;
$textBlock: #757575;
$specColor: rgba(255, 255, 255, 0.6);
$teamBtncolor: #f5f4fa;
$logoAddcolor: #000000;
$borderColor: #ececec;
$clientsColor: #afb1b8;
$cubic: cubic-bezier(0.4, 0, 0.2, 1);
$time: 250ms;

//   --body-color: #ffffff;
//   --back-color: #2f303a;
//   --heading-color: #212121;
//   --accent-color: #2196f3;
//   --alt-accent: #188ce8;
//   --block-color: #e5e5e5;
//   --text-block: #757575;
//   --spec-color: rgba(255, 255, 255, 0.6);
//   --team-button-color: #f5f4fa;
//   --logo-add-color: #000000;
//   --border-color: #ececec;
//   --clients-color: #afb1b8;
//   --cubic: cubic-bezier(0.4, 0, 0.2, 1);
//   --time: 250ms;
