// Hero
.hero-button {
  width: 200px;
  height: 50px;
  border: 0;
  margin-top: 0;
  padding: 10px, 32px;
  border-radius: 4px;
  background-color: $accentColor;
  color: $bodyColor;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  cursor: pointer;
  transition: $cubic $time color, $cubic $time background-color,
    $cubic $time drop-shadow;
  &:hover,
  &:focus {
    background-color: $altAccent;
    color: $bodyColor;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
  }
}
// Subscribe
.subscribe-button {
  @media screen and (max-width: 767px) {
    margin-top: 30px;
    // margin-right: 0;
    margin-bottom: 60px;
  }
  @media screen and (min-width: 768px) {
    margin-top: 30px;
    margin-bottom: 60px;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 17px;
    margin-left: 12px;
  }
  position: relative;
  width: 200px;
  height: 50px;
  border: 0;
  padding: 0;
  border-radius: 4px;
  background-color: $accentColor;
  color: $bodyColor;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  cursor: pointer;
  transition: $time $cubic color, $time $cubic background-color,
    $time $cubic drop-shadow;
  &:hover {
    background-color: $altAccent;
    color: $bodyColor;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  }
  &:focus {
    background-color: $altAccent;
    color: $bodyColor;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  }
}

.subscribe-button__text {
  position: absolute;
  display: inline-block;
  text-align: left;
  top: 10px;
  left: 29px;
}
// Portfolio
.portfolio-buttons {
  position: relative;
  color: black;
  background-color: $teamBtncolor;
  padding: 6px, 22px;
  border: 0px;
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  transition: $cubic $time color, $cubic $time background-color,
    $cubic $time box-shadow;
  &:hover {
    background-color: $altAccent;
    color: $bodyColor;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
  &:focus {
    background-color: $altAccent;
    color: $bodyColor;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

.portfolio-buttons__all {
  width: 73px;
  height: 38px;
}
.portfolio-buttons__web {
  width: 128px;
  height: 38px;
}
.portfolio-buttons__app {
  width: 145px;
  height: 38px;
}
.portfolio-buttons__des {
  width: 103px;
  height: 38px;
}
.portfolio-buttons__mar {
  width: 130px;
  height: 38px;
}
.portfolio-buttons:not(:first-child) {
  margin-left: 8px;
}
.portfolio-buttons__item {
  text-align: center;
  @media screen and (max-width: 380px) {
    display: flex;
    flex-wrap: wrap;
    padding-top: 60px;
    margin-bottom: 40px;
    & .portfolio-buttons:nth-child(2n + 1) {
      margin-left: 0;
    }
    & .portfolio-buttons:nth-child(-n + 3) {
      margin-bottom: 15px;
    }
  }
  @media screen and (min-width: 380px) and (max-width: 767px) {
    display: flex;
    flex-wrap: wrap;
    padding-top: 60px;
    margin-bottom: 40px;
    & .portfolio-buttons:nth-child(-n + 3) {
      margin-bottom: 15px;
    }
  }
  @media screen and (min-width: 768px) {
    padding-top: 60px;
    margin-bottom: 0;
  }
  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    margin-bottom: 50px;
  }
}
// Modal button
.modal-button {
  width: 200px;
  height: 50px;
  border: 0;
  margin-top: 0;
  margin-bottom: 40px;
  padding: 10px, 32px;
  border-radius: 4px;
  background-color: $accentColor;
  color: $bodyColor;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  cursor: pointer;
  transition: $cubic $time color, $cubic $time background-color,
    $cubic $time drop-shadow;
  &:hover {
    background-color: $altAccent;
    color: $bodyColor;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  }
  &:focus {
    background-color: $altAccent;
    color: $bodyColor;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  }
}
// Mobile button

.mobile-button {
  @media screen and (max-width: 767px) {
    // position: absolute;
    // top: 10px;
    // right: 0;
    display: flex;
    margin-left: auto;
    padding: 0;
    border: none;
    background-color: transparent;
    & .icon-menu {
      display: block;
    }
    &.is-open .icon-menu {
      display: none;
    }
    & .icon-close {
      display: none;
    }
    &.is-open .icon-close {
      display: block;
    }
  }
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.mobile-button__icon {
  @media screen and (max-width: 767px) {
    width: 40px;
    height: 40px;
    transition: fill $cubic $time;
    .icon-menu {
      fill: #000;
      &:hover {
        fill: $accentColor;
      }
      &:focus {
        fill: $accentColor;
      }
      cursor: pointer;
    }
    .icon-close {
      fill: #000;
      &:hover {
        fill: $accentColor;
      }
      &:focus {
        fill: $accentColor;
      }
      cursor: pointer;
    }
  }
  @media screen and (min-width: 768px) {
    display: none;
  }
  @media screen and (min-width: 1200px) {
    display: none;
  }
}
