.footer {
  background-color: $backColor;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.03em;
}
.footer-logo {
  @media screen and (max-width: 767px) {
    margin-bottom: 20px;
  }
  & .logo {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.footer-adr {
  color: $bodyColor;
}
.adress {
  @media screen and (max-width: 767px) {
    & .adress__block {
      display: flex;
      flex-direction: column;
      align-items: center;
      & .footer-text {
        color: $specColor;
      }
      margin-bottom: 60px;
    }
  }
  font-style: normal;
  font-weight: 400;
}
.adress__list:not(:first-child) {
  margin-top: 9px;
}
.adress__link {
  transition: $time $cubic color;
}
.adress__link:hover,
.adress__link:focus {
  color: $altAccent;
}
.contacts-block {
  @media screen and (max-width: 767px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  justify-content: flex-start;
}
.contacts-block__links {
  @media screen and (max-width: 767px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  margin-top: 0;
  padding-top: 60px;
  padding-bottom: 60px;
}
