.header {
  @media screen and (min-width: 480px) {
    position: relative;
    display: flex;
    justify-content: space-between;
  }
  @media screen and (min-width: 768px) {
    justify-content: center;
  }
  @media screen and (min-width: 1200px) {
    justify-content: center;
    align-items: center;
    border-bottom: 1px;
    border-bottom-style: solid;
    border-bottom-color: $borderColor;
    background-color: $bodyColor;
  }

  align-items: center;
  border-bottom: 1px;
  border-bottom-style: solid;
  border-bottom-color: $borderColor;
  background-color: $bodyColor;
}
.site-nav__link {
  color: $headingColor;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 47px;
    bottom: auto;
    width: 100%;
    height: 4px;
    background-color: $accentColor;
    border-radius: 4px;
    transform: scaleX(0);
    transition: transform $cubic $time;
  }
  & {
    transition: $cubic $time color;
  }
  &:hover,
  :focus {
    color: $accentColor;
  }
  &:focus::after {
    transform: scaleX(1);
  }
}

.site-nav {
  display: flex;
  padding-top: 32px;
  margin-left: 93px;
  padding-bottom: 32px;
}

.site-nav__item {
  position: relative;
  &:not(:first-child) {
    margin-left: 50px;
  }
}
.nav-mobile {
  display: none;
}
.mobile-container {
  position: absolute;
  top: 100%;
  left: 0;
  transform: translate(-50% -50%);
  display: none;
  width: 480px;
  height: 100vh;
  background-color: $bodyColor;
  &.is-open {
    display: block;
  }
}
