.info {
  @media screen and (max-width: 767px) {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 302px;
  }
  @media screen and (min-width: 768px) and (max-width: 1199) {
  }

  @media screen and (min-width: 1200px) {
    padding-top: 32px;
    padding-bottom: 32px;
    margin-left: 305px;
  }
}
.info-item {
  @media screen and (max-width: 767px) {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.02em;

    transition: $cubic $time color;
    &:not(:last-child) {
      margin-top: 32px;
    }
    & .info-link {
      color: $textBlock;
      &:hover {
        color: $accentColor;
      }
      &:focus {
        color: $accentColor;
      }
    }
    & .info-item__tel {
      color: $accentColor;
      font-size: 34px;
      line-height: 1.17;
      &:hover {
        color: $textBlock;
      }
      &:hover {
        color: $textBlock;
      }
    }
  }
}

.info-item:not(:first-child) {
  @media screen and (min-width: 1200px) {
    margin-left: 50px;
  }
}
.info-item__tel {
  margin-top: 10px;
}
.info-icon {
  margin-right: 10px;
  fill: $textBlock;
  &.smartphone {
    width: 10px;
    height: 16px;
    position: absolute;
    left: -25px;
    bottom: 3px;
  }
  &.envelope {
    width: 16px;
    height: 12px;
    position: absolute;
    left: -26px;
    bottom: 2px;
  }
  & {
    transition: $cubic $time fill;
  }
  &:hover {
    fill: $accentColor;
  }
  &:focus {
    fill: $accentColor;
  }
}

.info-link {
  display: inline-block;
  @media screen and (min-width: 768px) {
    position: relative;
    color: $textBlock;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition: $cubic $time color;
    &:hover,
    :focus {
      color: $accentColor;
    }
    &:hover .info-icon {
      fill: $accentColor;
    }
    &:focus .info-icon {
      fill: $accentColor;
    }
  }
  .info-icon {
    transition: $cubic $time fill;
  }
}
