.about-section {
  @media screen and (max-width: 767px) {
    display: none;
  }
  @media screen and (max-width: 1199px) {
    display: none;
  }
  margin-top: 0;
  padding-bottom: 94px;
}

.about-section__title {
  color: $headingColor;
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.about-section__list {
  display: flex;
  align-items: center;
}

.about-section__item {
  position: relative;
  &:not(:first-child) {
    margin-left: 30px;
  }
  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: rgba(47, 48, 58, 0.8);
  }
}

.about-section__text {
  position: absolute;
  left: 86px;
  bottom: 27px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $bodyColor;
}
