.hero-section {
  @media screen and (min-width: 480px) {
    margin-top: 0;
    background-color: $backColor;
    text-align: center;
  }
}
.hero-section__background {
  @media screen and (min-width: 480px) {
    max-width: 480px;
    max-height: 400px;
    margin-right: auto;
    margin-left: auto;
    background-color: $heroAddcolor;
    background-image: linear-gradient(to right, #2f303a66 40%, #2f303a66 40%),
      url("../images/hero-back-mobile.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  @media screen and (min-width: 768px) {
    max-width: 768px;
    max-height: 400px;
    background-image: linear-gradient(to right, #2f303a66 40%, #2f303a66 40%),
      url("../images/hero-back-tablet.jpg");
  }
  @media screen and (min-width: 1200px) {
    max-width: 1600px;
    max-height: 600px;
    background-image: linear-gradient(to right, #2f303a66 40%, #2f303a66 40%),
      url("../images/hero-back.jpg");
  }
}
.hero-section__text {
  @media screen and (min-width: 480px) {
    margin-top: 0;
    margin-bottom: 30px;
    padding-top: 118px;
    color: $bodyColor;
    font-weight: 900;
    font-size: 24px;
    line-height: 1.75;
    letter-spacing: 0.06em;
    text-align: center;
    text-transform: uppercase;
    width: 360px;
  }
  @media screen and (min-width: 768px) {
    font-size: 24px;
    line-height: 1.75;
  }
  @media screen and (min-width: 1200px) {
    padding-top: 200px;
    font-size: 44px;
    line-height: 1.4;
    width: 696px;
  }
}
